*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.nav {
    position: fixed;
    left:0;
    top:0;
    padding:20px;
    width:100vw;
    height:60px;
    background-color:white;
    z-index: 10;
}

body{
    padding-top:70px;
}

.nav ul{
    width:50%;
    min-width:250px;
    list-style: none;
    display:flex;
    gap:20px;
    justify-content: space-between;
}

.nav ul li a{
    text-decoration: none;
    color:lightgray;
    font-family: Helvetica, Arial, sans-serif;
    font-size:20px;
}