/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-size:20px;
}

a {
    color: white;
    text-decoration: none;
}

body {
    background:transparent;
}

video {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

ul {
    position : fixed;
    bottom:20px;
    right: 60px;
    display: flex;
    gap: 50px;
    list-style: none;
}