*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.film {
    height : 600px;
    width:100%;
    border-bottom : 5px solid black;
}

.RECONSTITUCION {
    display : flex;
    flex-wrap:wrap;
    justify-content: space-around;
}

.RECONSTITUCION .description {
    width: 45%;
    height:100%;
    display:flex;
    flex-direction:column;
    align-content: space-around;
    border:10px solid pink;
    transform: translateX(100px);
}

.RECONSTITUTION .description > * {
    border: 10px solid green;
}

.RECONSTITUCION .description .header {
    display : flex;
    justify-content: space-between;
}

.RECONSTITUCION .header p {
    margin-top:1em;
}