body {
    padding: 20px;
    font-family: Helvetica, Arial, sans-serif;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.vimeo {
    width: 100%;
    background-color: black;
}

.vimeo iframe {
    display: block;
    width: 100%;
    aspect-ratio: 16 / 9;
}

.film {
    width:100%;
    padding:20px;
    border-bottom : 5px solid black;
    display : flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: start;
    gap:10px;
}

.film > div {
    flex: 1 1 ;
    min-width:350px;
}

.medias {
    display:flex;
    flex-direction: column;
    gap:10px;
}

.film:last-of-type{
    border-bottom:none;
}

.description{
    display: flex;
    flex-wrap:wrap;
    gap:20px;
    font-size:15px; 
    align-items: start;
}

.description > div{
    flex: 1 1 0;
    min-width: 200px;
}