body {
    padding: 20px;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.film {
    min-height : 600px;
    width:100%;
    border-bottom : 5px solid black;
    display : flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
    gap : 70px;
}

.description{
    flex: 0 1 600px;
    display: flex;
    flex-wrap:wrap;
    gap:30px;
}

.description > div{
    flex: 1 1 0;
    min-width: 200px;
}