body {
    padding: 20px;
    font-family: Helvetica, Arial, sans-serif;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.layout {
    height:100%;
    width:100%;
}

.bio {
    text-align:justify;
    font-size:15px;
}

@media (min-width: 800px) {
    .bio {
        position:relative;
        top:10vh;
        left:10%;
        width:40%;
    }

}

.bio a {
    text-decoration: none;
    font-weight: 501;
    color: darkblue;
}